{% extends "midterm_index.html" %}

{% block content %}
{{ block.super }}
<style type="text/css" media="screen">
{% comment %} canvas.spend-chart{ {% endcomment %}
    {% comment %} position: relative; {% endcomment %}
    {% comment %} height:50vh; {% endcomment %}
    {% comment %} width:45vw; {% endcomment %}
{% comment %} } {% endcomment %}
div.chart-div{
    display: inline-block;
    position: relative;
    min-height: 48vh;
    min-width: 48vw;
    {% comment %} max-width: 100%; {% endcomment %}
    {% comment %} min-height: 100%; {% endcomment %}
}
</style>
<div id="container-fluid">
    <div class="chart-div"> <canvas id="id_spnd_b_yr_dprmnt" class="spend-chart"></canvas> </div>
    <div class="chart-div"> <canvas id="id_spnd_b_yr" class="spend-chart"></canvas> </div>
    <div class="chart-div"> <canvas id="id_spnd_b_marital" class="spend-chart"></canvas> </div>
    <div class="chart-div"> <canvas id="id_spend_by_cmdty_yr" class="spend-chart"></canvas> </div>
    <div class="chart-div"> <canvas id="id_spend_by_marital_incm" class="spend-chart"></canvas> </div>
    <div class="chart-div"> <canvas id="id_spend_by_hshd_size" class="spend-chart"></canvas> </div>
    <div class="chart-div"> <canvas id="id_spend_by_chldrn_hshd_size" class="spend-chart"></canvas> </div>
    {% comment %} <div class="chart-div"> <canvas id="" class="spend-chart"></canvas> </div> {% endcomment %}
    {% comment %} <div class="chart-div"> <canvas id="" class="spend-chart"></canvas> </div> {% endcomment %}
    {% comment %} <div class="chart-div"> <canvas id="" class="spend-chart"></canvas> </div> {% endcomment %}
    {% comment %} <div class="chart-div"> <canvas id="" class="spend-chart"></canvas> </div> {% endcomment %}
    {% comment %} <div class="chart-div"> <canvas id="" class="spend-chart"></canvas> </div> {% endcomment %}
</div>
{% endblock content %}

{% block js_block %}
<script charset="utf-8">
    ctx = JSON.parse(JSON.stringify({{ chart_data|safe }}));
    for (var i = 0; i < ctx.length; i++) {
        data = ctx[i];
        new Chart(document.getElementById(data.canvas_id), {
          type: data.type,
          data: data.data,
          options: data.options,
        });
    }
</script>
{% endblock js_block %}
