{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="{% static 'frontend/css/third_party/bootstrap.min.css'%}" crossorigin="anonymous">
</head>
<body>
    <script src="{% static 'frontend/js/third_party/Chart.bundle.min.js'%}"></script>
    <div class='container-fluid text-center p-2 bg-dark text-white'>
        <a href="/" class="btn btn-primary col-md-1">Home</a>
        {% if not request.user.is_authenticated %}
            Click here to <a href='{% url "assign1:sign-up" %}'>Sign Up</a> | <a href='{% url "assign1:login" %}'>Login</a>
        {% else %}
            <a class="btn btn-primary" href='{% url "assign1:logout" %}'>Logout</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}

    {% block js_block %}
    {% endblock js_block %}
</body>
</html>
