<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class='container-fluid'>
        <a href="/" class="btn btn-primary col-md-1">Home</a>
        {% if not request.user.is_authenticated %}
            Click here to <a href='{% url "assign1:sign-up" %}'>Sign Up</a> | <a href='{% url "assign1:login" %}'>Login</a>
        {% else %}
            <a class="btn btn-primary" href='{% url "assign1:logout" %}'>Logout</a>
        {% endif %}
    </div>
    <!-- Hello, World.... -->
    {% block content %}
    {% endblock content %}
</body>
</html>
