{% extends 'assign1_index.html' %}

{% block head %}
<title>Assignnent 1 Dashboard</title>
{% endblock head %}

{% block content %}
<div class="container-fluid">
{{ block.super }}
<p>Welcome {{ request.user.first_name|title }}</p>
<p>Below are your profile Details:</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Username</td>
        <td>{{ request.user.username }}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>First Name</td>
        <td>{{ request.user.first_name|title }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Last Name</td>
        <td>{{ request.user.last_name|title }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Email Address</td>
        <td>{{ request.user.email }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>PDF download link</td>
        <td>
        {% if request.user.profile.user_registration_file %}
            <a href="{{ request.user.profile.user_registration_file.url }}" target="_blank" download>{{ request.user.profile.get_user_registration_file_name }}</a></td>
        {% endif %}
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Word Count of the PDF</td>
        <td>{{ word_cnt }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
