{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock head %}


{% block content %}
    <style>
        .errorlist.nonfield{
            color: red;
        }
    </style>
    <form method="post" enctype="multipart/form-data" class='container-fluid'>
    <h2>Login</h2>
    {{ form.non_field_errors }}
    {% csrf_token %}
    {% for field in form %}
        <div class="form-floating col-3 mb-3">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Login</button>
    <p>Don't have an account yet? <a href='{% url "assign1:sign-up" %}'>Sign Up</a></p>
</form>
{% endblock %}
